// main Headings h2 
@mixin main-head {
    font: {
        family: 'Domine', serif;
        weight: bold;
        size: 36px;
    }
    color: $main-color;
    line-height: 1.3;
}

// paragraphs style 
@mixin main-p {
    font-weight: 600;
    line-height: 1.7em;
    color: $p-color;
    margin-bottom: 45px;
}