body {
    background-color: #fff;
    font: {
        family: 'Muli', sans-serif;
        size: 16px;
        font-weight: 600;
    }
}
ul, ol {
    list-style: none;
    padding: 0;
}
a {
    text-decoration: none;
}

/*font-family: 'Domine', serif;
font-family: 'Muli', sans-serif;*/