$max-mobile: "(max-width: 767px)";
$max-small: "(max-width: 991px)";
$min-small: "(min-width: 768px)";
$min-medium: "(min-width: 992px)";
$min-large: "(min-width: 1200px)";


$main-color: #0C3653;
$btn-color: #F98169;
$p-color: #8B8E8F;

$floatl: left;
$floatr: right;

$textl: left;
$textr: right;